@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManager</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
     
    </environment>
    <environment exclude="Development"> 

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>

    <style>
      
        #navbar {
            background-color: cornflowerblue;
        }

        #bold {
            color: cornflowerblue;
        }

            #bold:hover {
                color: darkblue;
                font-weight: bolder;
            }

        #a {
            color: white;
            font-size: 20px;
        }

            #a:hover {
                font-size: 25px;
            }

        .maintitle {
            font-family: 'Permanent Marker', cursive;
            font-size: 35px;
            color: white;
        }
        #footer {
            background-color: rgba(198, 202, 207, 1);
            margin-top: 15%;
            margin-bottom: -20px;
            padding-top:5px;
            width:100%;
            padding-bottom:0px;
        }
        #copyright {
          width:100%;
            text-align: center;
            padding-bottom:10px;
            background-color: rgba(144, 143, 148, 1);
            color: darkblue;
        }
        #footer_navbar {
            padding:5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #content{
            text-align:center;
            padding:10px;
            color:darkblue;
        }
        #test{
            width:100%;
            background-color:lightblue;
        } 
    </style>


</head>
<body>





    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><p class="maintitle">TASK MANAGER</p></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" id="a">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" id="a">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" id="a">Contact</a></li>
                    @*<li><a asp-area="" asp-controller="Admin" asp-action="Index" id="a">Admin panel</a></li>*@

                </ul>

                <ul class="nav navbar-nav navbar-right">

                    @{
                        string key = Context.Session.GetString("key");

                        if (key != null)
                        {
                            int role = (int)Context.Session.GetInt32("role");
                            if (role == 2)
                            {

                                <li><a asp-area="" asp-controller="Admin" asp-action="Index" id="a">Admin panel</a></li>
                            }

                            <li><a asp-area="" asp-controller="BoardTasks" asp-action="Index" id="a">Board Tasks</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Logout" id="a">Log out</a></li>

                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Account" asp-action="Signin" id="a">Sign in</a></li>
                            <li><a asp-area="" asp-controller="Account" asp-action="Register" id="a">Register</a></li>

                        }
                    }

                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            <div id="footer_navbar">

                <div>
                    <h6>
                        <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                    </h6>
                </div>
                <div>
                    <h6>
                        <a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a>
                    </h6>
                </div>
                <div>
                    <h6>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a>
                    </h6>
                </div>

                @{
                if (key != null)
                {
                    <div>
                        <h6>
                            <a asp-area="" asp-controller="BoardTasks" asp-action="Index">BOARDTASKS</a>
                        </h6>
                    </div>
                    <div>
                        <h6>
                            <a asp-area="" asp-controller="Account" asp-action="Logout">LOG OUT</a>
                        </h6>
                    </div>
            }
            else
            {
                <div>
                    <h6>
                        <a asp-area="" asp-controller="Account" asp-action="Signin">SIGN IN</a>
                    </h6>
                </div>
                <div>
                    <h6>
                        <a asp-area="" asp-controller="Account" asp-action="Register">REGISTER</a>
                    </h6>
                </div>

        }
                }


            </div>

            <hr />

            <div class="row">


                <div id="content">
                    <p style="line-height: 1.7rem">
                        Менеджер задач. Создавай задачи, контролируй этапы их выполнения. Используй свое время оптимально!
                    </p>
                </div>


            </div>

            <div id="copyright">
                <hr />
                <p>&copy; 2019 - TaskManager</p>
            </div>


        </footer>
        <!-- Footer -->
    </div>

   


    <environment include="Development">

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        <script src="~/js/register.js" asp-append-version="true"></script>
        <script src="~/js/boardtaskcontroller.js" asp-append-version="true"></script>
        <script src="~/js/nodecontroller.js" asp-append-version="true"></script>

    </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <script src="~/js/register.js" asp-append-version="true"></script>
        <script src="~/js/boardtaskcontroller.js" asp-append-version="true"></script>
        <script src="~/js/nodecontroller.js" asp-append-version="true"></script>


    </environment>

    <script>

        $(window).on('resize', function () {
            var win = $(this); //this => window
            if (win.width() < 665) {

                $('.maintitle').css('font-size', "20px");
                $('.breadcrumb-item').css('font-size', "10px");
                //$('#footer').css('margin', 'auto');
                //$('#footer').css(' width', '100%');

            }
            if (win.width() >= 665) {
                $('.maintitle').css('font-size', "40px");
                $('.breadcrumb-item').css('font-size', "20px");
            }
        });


        $(document).ready(function () {
            //$('.sidenav').sidenav();

            var w = $(window).width();
            if (w < 665) {
                $('.maintitle').css('font-size', "20px");
                $('.breadcrumb-item').css('font-size', "10px");
                //$('#footer').css('margin', 'auto');
                //$('#footer').css(' width', '100%');
            }
            if (w >= 665) {
                $('.maintitle').css('font-size', "40px");
                $('.breadcrumb-item').css('font-size', "20px");
            }
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
